//Panel begins now

.panel{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 4rem;
  width: 14rem;
  margin: 1rem auto;
}

.panel-switch-text {
  font-size: 2rem;
  padding: 0.5rem;
  color: #333;  
}

//Switch begins now
.switch {
  padding: 0.5rem;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display: none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: $transition-time-slider;
  transition: $transition-time-slider;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: $transition-time-slider;
  transition: $transition-time-slider;
}

input:checked + .slider {
  background-color: $checked-input-background-color;
}

input:hover + .slider {
  background-color: $hover-input-background-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX($transform-measurement);
  -ms-transform: translateX($transform-measurement);
  transform: translateX($transform-measurement);
}

//Rounded sliders begins now

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-calendar {
  margin: auto 5px;
  font-size: 36px;
}