$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

$charcoal: #36454F;
$smoke: rgb(230, 230, 230);

//Slider

$transition-time-slider: .4s;
$checked-input-background-color: rgb(113, 218, 247);
$hover-input-background-color: rgb(34, 194, 238) ;
$transform-measurement: 26px;

//Display

$display-background-color: #282C34;
$display-border-color: #32363E;
$display-color: #61DAFB;

$display-date-font-size: 14px;
$display-date-font-weight: 300;

$display-time-font-size: 42px;
$display-time-font-weight: 600;

