$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

$charcoal: #36454F;
$smoke: rgb(230, 230, 230);

//Slider

$transition-time-slider: .4s;
$checked-input-background-color: rgb(113, 218, 247);
$focused-input-background-color: rgb(34, 194, 238);
$transform-measurement: 26px;